/* Media Query */

/* @media only screen and (max-width: 568px) {
  h1 {
    line-height: 50px;
    margin-top: 200px !important;
    font-size: 24px !important;
  }
} */

@media only screen and (max-width: 768px) {
  h1 {
    line-height: 50px;
    margin-top: 200px !important;
    font-size: 24px !important;
  }

  nav ol li a {
    font-size: 15px !important;
  }

  #about {
    display: flex;
    flex-direction: column;
  }

  .about-desc {
    padding: 5px 45px !important;
    font-size: 13px !important;
    width: 85% !important;
    line-height: 34px !important;
  }

  #about {
    gap: 20px;
  }

  .links {
    margin-top: 10px !important;
    text-align: center;
  }
  .links a {
    font-size: 22px !important;
    line-height: 30px !important;
    padding-top: 0px;
  }
  .big-links {
    gap: 40px !important;
    display: flex;
    justify-content: center;
  }

  .social-links a {
    font-size: 26px !important;
    margin-top: -20px !important;
  }

  .social-links {
    margin-right: 70px;
  }

  /* project section */

  #projects h2 {
    margin-top: 278px !important;
    font-size: 24px !important;
    margin-left: -60px;
  }

  .project-item button {
    font-size: 20px !important;
  }

  .dev-projects {
    line-height: 50px !important;
  }

  /* modal */

  .modal {
    font-size: 13px !important;
    width: 300px !important;
    height: 150px !important;
    padding: 20px 50px !important;
  }
  .modal img {
    width: 50px !important;
  }

  .logo-treen img {
    width: 50px !important;
  }

  .modal img:hover {
    transform: scale(0.9);
  }

  .modal p {
    line-height: 19px !important;
    margin: 0px !important;
    opacity: 0.7 !important;
  }

  .modal-close {
    font-size: 10px !important;
  }

  /* contact */

  #contact h3 {
    line-height: 50px !important;
    font-size: 24px !important;
  }

  #contact h2 a {
    font-size: 20px !important;
    margin-left: 90px !important;

    line-height: 50px !important;
  }

  .fa-arrow-up {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 35px;
  }

  nav ol li a {
    font-size: 18px;
  }

  /* about section */
  .about-desc {
    padding: 25px;
    line-height: 55px;
    font-size: 20px;
    width: 65%;
    margin-top: 10px;
  }

  #about {
    gap: 20px;
  }

  .links {
    margin-top: 230px;
    margin-left: 20px;
  }

  .links a {
    font-size: 35px;
    line-height: 140px;
    padding-top: 90px;
  }
  /* project section */

  #projects h2 {
    margin-top: 360px;
    font-size: 35px;
    margin-left: -60px;
  }

  .project-item button {
    font-size: 25px;
  }

  .dev-projects {
    line-height: 100px;
  }

  /* modal */
  .modal {
    width: 500px;
    height: 250px;
    font-size: 15px;
  }
  .modal p {
    line-height: 26px;
    margin: 0px 30px;
  }
  /* contact */

  #contact h3 {
    line-height: 100px;
    font-size: 55px;
  }

  #contact h2 a {
    font-size: 34px;
    margin-left: 420px;

    line-height: 100px;
  }

  .fa-arrow-up {
    margin-top: 330px;
  }
}
