* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
  height: 100vh;
}

i {
  align-content: center;
}

nav {
  position: relative;
  width: 100%;
  height: 40px;
  text-align: right;
  padding-top: 20px;
  margin-right: 200px;
}
nav ol li {
  line-height: 30px;
  margin-right: 15px;
}

nav ol li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.16em;
  font-family: "Ubuntu Mono", monospace;
}

nav ol li a:hover {
  font-style: italic;
  opacity: 80%;
}

#video {
  text-align: center;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 300px;
  font-family: "Michroma", sans-serif;
  font-size: 45px;
  line-height: 82px;
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* about section */
.section.sec-about {
  background-color: white;
}

.about-desc {
  text-align: justify;
  padding: 27px 45px;
  line-height: 70px;
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
  width: 60%;
  margin-top: 20px;
}

#about {
  display: flex;
  gap: 140px;
}

.links {
  margin-top: 250px;
}

#video-link {
  transition: 0.5s ease-in-out;
}

#resume-link {
  transition: 0.5s ease-in-out;
}

#video-link:hover {
  transform: translateX(6%);
}

#resume-link:hover {
  transform: translateX(-6%);
}

.links a:hover {
  color: black;
}
.links a {
  text-decoration: none;
  -webkit-text-stroke: 0.2px black;
  color: transparent;
  font-size: 50px;
  font-family: "Michroma", sans-serif;
  line-height: 140px;
  padding-top: 90px;
}
.social-links {
  margin-left: 30px;
  margin-top: 30px;
}
.social-links i {
  margin: 15px 20px;
  color: black;
  transition: 0.3s ease-in-out;
}

.social-links i:hover {
  transform: scale(0.85);
}
/* projects section */
.sec-projects {
  background-color: black;
}

#projects h2 {
  -webkit-text-stroke: 0.25px white;
  position: absolute;
  letter-spacing: 0.1em;
  margin-top: 350px;
  font-size: 50px;
  font-family: "Michroma", sans-serif;
  transform: rotate(-90deg);
}

.dev-projects {
  line-height: 90px;
  text-align: center;
  padding-top: 200px;
}

.project-item {
  justify-content: left;
}
.project-item button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 40px;
  font-family: "Michroma", sans-serif;
  transition: 0.3s ease-in-out;
}

.project-item button:hover {
  transform: scale(0.93);
}

.project-item h3 {
  color: white;
  font-size: 40px;
  font-family: "Michroma", sans-serif;
}
/* modals */

.modal-container {
  display: none;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  pointer-events: auto;
}

/* .modal-container.show {
  opacity: 1;
  pointer-events: auto;
} */

.modal {
  background-color: white;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  width: 600px;
  height: 300px;
  padding: 20px 50px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  z-index: 4;
}

.modal img {
  width: 80px;
  transition: 0.3s ease-in-out;
}

.logo-treen img {
  width: 100px;
}

.modal img:hover {
  transform: scale(0.9);
}

.modal p {
  line-height: 30px;
  margin: 8px 40px;
  opacity: 0.7;
}

.modal-close {
  font-family: "Michroma", sans-serif;
  font-size: 17px;
  color: transparent;
  -webkit-text-stroke: 0.5px black;
  background-color: transparent;
  border: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.modal-close:hover {
  color: black;
  transform: scale(0.93);
}
/* contact */

#video-contact {
  position: absolute;
  text-align: center;
  /* display: block; */
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#contact h3 {
  /* position: relative;
  /* margin-top: 2600px; */
  /* top: 0;
  left: 0;  */
  padding: 50px 30px;
  font-size: 70px;
  color: white;
  font-family: "Michroma", sans-serif;
  line-height: 115px;
  z-index: 1;
}

#contact h2 a {
  text-decoration: none;
  font-size: 40px;
  margin-left: 640px;
  /* z-index: 1; */
  color: white;
  letter-spacing: 0.12em;
  font-family: "Ubuntu Mono", monospace;
  line-height: 30px;
  transition: all 0.3s ease-in-out;
}

#contact a:hover {
  transform: scale(0.93);
}

#contact i {
  color: transparent;
  -webkit-text-stroke: 2px white;
}
/*
.mailto a {
  text-align: center;
} */

.fa-arrow-up {
  margin-top: 330px;
  margin-left: 25px;
}
/* Media Query */

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 768px) {
  h1 {
    margin-top: 170px;
    font-size: 24px;
  }

  nav ol li a {
    font-size: 15px;
  }

  #about {
    display: flex;
    flex-direction: column;
  }

  .about-desc {
    padding: 0px 45px;
    font-size: 13px;
    width: 85%;
    line-height: 30px;
  }

  #about {
    gap: 20px;
  }

  .links {
    margin-top: 10px;
    text-align: center;
  }
  .links a {
    font-size: 22px;
    line-height: 30px;
    padding-top: 0px;
  }
  .big-links {
    gap: 40px;
    display: flex;
    justify-content: center;
  }

  .social-links a {
    line-height: 0px;
  }

  .social-links {
    margin-right: 70px;
  }

  /* project section */

  #projects h2 {
    margin-top: 278px;
    font-size: 24px;
    margin-left: -60px;
  }

  .project-item button {
    font-size: 20px;
  }

  .dev-projects {
    line-height: 50px;
  }

  /* modal */

  .modal {
    font-size: 13px;
    width: 300px;
    height: 150px;
    padding: 20px 50px;
  }
  .modal img {
    width: 50px;
  }

  .logo-treen img {
    width: 50px;
  }

  .modal img:hover {
    transform: scale(0.9);
  }

  .modal p {
    line-height: 19px;
    margin: 0px;
    opacity: 0.7;
  }

  .modal-close {
    font-size: 10px;
  }

  /* contact */

  #contact h3 {
    line-height: 50px;
    font-size: 24px;
  }

  #contact h2 a {
    font-size: 20px;
    margin-left: 90px;

    line-height: 50px;
  }

  .fa-arrow-up {
    display: none !important;
  }
}
