* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.section {
  width: 100%;
  height: 100vh;
}

i {
  align-content: center;
}

nav {
  position: relative;
  width: 100%;
  height: 40px;
  text-align: right;
  padding-top: 20px;
  margin-right: 200px;
}
nav ol li {
  line-height: 30px;
  margin-right: 15px;
}

nav ol li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.16em;
  font-family: "Ubuntu Mono", monospace;
}

nav ol li a:hover {
  font-style: italic;
  opacity: 80%;
}

#video {
  text-align: center;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  position: absolute;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 300px;
  font-family: "Michroma", sans-serif;
  font-size: 45px;
  line-height: 82px;
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* about section */
.section.sec-about {
  background-color: white;
}

.about-desc {
  text-align: justify;
  padding: 27px 45px;
  line-height: 70px;
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
  width: 60%;
  margin-top: 20px;
}

#about {
  display: flex;
  gap: 140px;
}

.links {
  margin-top: 250px;
}

.links h3 {
  transition: transform 1s;
}
#video-link:hover {
  transform: translateX(10%);
}

#resume-link:hover {
  transform: translateX(-10%);
}

.links a:hover {
  color: black;
}
.links a {
  text-decoration: none;
  -webkit-text-stroke: 0.2px black;
  color: transparent;
  font-size: 50px;
  font-family: "Michroma", sans-serif;
  line-height: 140px;
  padding-top: 90px;
}

/* projects section */
.sec-projects {
  background-color: black;
}

#projects h2 {
  -webkit-text-stroke: 0.25px white;
  position: absolute;
  letter-spacing: 0.1em;
  margin-top: 350px;
  font-size: 50px;
  font-family: "Michroma", sans-serif;
  transform: rotate(-90deg);
}

.dev-projects {
  line-height: 90px;
  text-align: center;
  padding-top: 200px;
}

.project-item {
  justify-content: left;
}

.project-item h3 {
  color: white;
  font-size: 40px;
  font-family: "Michroma", sans-serif;
}

/* contact */

#video-contact {
  text-align: center;

  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#contact h3 {
  position: absolute;
  margin-top: 2600px;
  top: 0;
  left: 0;
  padding: 50px;
  font-size: 50px;
  color: white;
  font-family: "Michroma", sans-serif;
  line-height: 30px;
}
