* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.section {
  width: 100%;
  height: 100vh;
}

/* .fas.fa-plus {
  color: white;
} */

i {
  align-content: center;
}

nav {
  position: relative;
  width: 100%;
  height: 40px;
  text-align: right;
  padding-top: 20px;
  margin-right: 200px;
}
nav ol li {
  line-height: 30px;
  margin-right: 15px;
}

nav ol li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.16em;
  font-family: "Ubuntu Mono", monospace;
}

#video {
  text-align: center;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  position: fixed;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 300px;
  font-family: "Michroma", sans-serif;
  font-size: 45px;
  line-height: 82px;
}

.section.sec-about {
  background-color: white;
}

.about-desc {
  text-align: justify;
  padding: 27px 45px;
  line-height: 70px;
  font-family: "Noto Sans", sans-serif;
  font-size: 28px;
  width: 60%;
  margin-top: 20px;
}

#about {
  display: flex;
  gap: 140px;
}

.links {
  margin-top: 250px;
}

.links h3 {
  transition: transform 1s;
}
.links h3:hover {
  transform: translateX(10%);
}

.links a:hover {
  color: #464646;
}
.links a {
  text-decoration: none;
  color: #affc41;
  font-size: 50px;
  font-family: "Michroma", sans-serif;
  line-height: 140px;
  padding-top: 90px;
}

/* projects section */

/* .back-proj {
  background-color: white;
  width: 90%;
  top: 90px;
  height: 80vh;
  margin: 0 auto;

  padding: 10px;
  position: relative;
} */

.sec-projects {
}

.slider {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide-img {
  height: 450px;
  position: relative;
}

.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  display: block;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: black;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  text-decoration: none;
}

.img-overlay--primary {
  background: #fff;
  text-decoration: none;
}

.img-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
  text-decoration: none;
}
.img-overlay:hover {
  opacity: 100%;
}

.img-overlay:hover > * {
  transform: translateY(0);
  color: black;
}

.img-title {
  font-size: 2em;
  font-family: "Michroma", sans-serif;
}

.img-desc {
  font-size: 1.25em;
  margin: 0.65em;
  text-align: justify;
}

.check {
  color: red;
}
